streamlit
langchain
langchain-community
langchain-ollama
qdrant-client
pypdf
tiktoken
ollama
python-dotenv
pathlib
requests
openai>=1.0.0
langchain-openai
regex
dataclasses
psycopg2-binary
sqlalchemy
azure-cognitiveservices-vision-computervision
msrest
pdf2image
pillow
poppler-utils
azure-ai-vision-imageanalysis
azure-identity
 